.buttonContainer{
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.Button{
    font-size: 18px;
    width: 10em;
    height: 3em;
    vertical-align: middle;
    background-color: #a20000;
    color: white;
    border: none;
    margin-left: 2.5em;
    margin-right: 2.5em;

    box-shadow: 9px 9px 16px rgb(163 177 198 / 60%), 
                -9px -9px 16px hsl(0deg 0% 100% / 60%);

}