.smallImagesContainer{    
    width: 100%;
    height: 10em;
    display: flex;
}

.smallImageContainer{
    width: 20%;
    height: 100%;
    position: relative;
}

.smallImageContainer span{
    overflow: hidden !important;
}

.dragContainer{
    font-size: 18px;
    box-shadow: 9px 9px 16px rgb(163 177 198 / 60%), 
                -9px -9px 16px hsl(0deg 0% 100% / 60%);

    width: 76em;
    height: 10em;

    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.dragContainer p{
    line-height: 10em;
    margin: 0 auto;
    text-align: center;

    margin-top: 0;
    margin-bottom: 0;
}

.DeleteBtn{
    font-size: 18px;
    width: 1.8em;
    height: 1.8em;
    vertical-align: middle;
    background-color: #a20000;
    color: white;
    border: none;
    margin-left: 2.5em;
    margin-right: 2.5em;
    box-shadow: 9px 9px 16px rgb(163 177 198 / 60%), -9px -9px 16px hsl(0deg 0% 100% / 60%);
    border-radius: 1em;
    position: absolute;
    top: -1em;
    right: -2.3em;

}

