.pageTitle {
    font-weight: 560;
    color: rgba(0,0,0,.75);
    font-size: 50px;
    vertical-align: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-left: 5%;
}

.titleContainer{
    border-bottom: 12px #a20000 solid;
}