.Title {
    width: 12em;
    height: 2em;
    
    color:white;
    background-color: #a20000;

    margin-bottom: .1em;

    box-shadow: 9px 9px 16px rgb(163 177 198 / 60%), 
                -9px -9px 16px hsl(0deg 0% 100% / 60%);
}

.Title p {
    margin: 0 auto;
    text-align: center;
    line-height: 2em;
}